<h1>Editing plant</h1>

<% form_for(@plant) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :variety %><br />
    <%= f.text_field :variety %>
  </p>
  <p>
    <%= f.label :notes %><br />
    <%= f.text_area :notes %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>
<br />
<%= link_to 'Cancel', plants_path %>
