<%= link_to 'Back to Garden: ' + @garden.name, @garden %>

<h2>Our plants</h2>

<table>
  <tr>
    <th>Name</th>
    <th>Variety</th>
    <th>Notes</th>
  </tr>

<% for plant in @plants %>
  <tr>
    <td><%= link_to plant.name, edit_plant_path(plant) %></td>
    <td><%= plant.variety %></td>
    <td><%= simple_format(plant.notes) %></td>
    <td><%= link_to 'Delete', plant_path(plant), :confirm => 'Are you sure?' , :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<h1>New plant</h1>

<% @plant = Plant.new %>
<% form_for([@garden, @plant]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :variety %><br />
    <%= f.text_field :variety %>
  </p>
  <p>
    <%= f.label :notes %><br />
    <%= f.text_area :notes %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<% #= link_to 'New plant', new_plant_path %>
