<h1><%=h @plant.name %></h1>

<p>
  <b>Notes:</b>
  <%= simple_format(@plant.notes) %>
</p>

<%= link_to 'Edit', edit_plant_path(@plant) %> 
<%= link_to 'Delete', @plant, :confirm => 'Are you sure?', :method => :delete %>

<h2>Log Entries for <%= @plant.name %></h2>

<table>
  <tr>
    <th>Notes</th>
    <th>Logdate</th>
  </tr>

<% for logentry in @plant.logentries %>
  <tr>
    <td><%=h logentry.notes %></td>
    <td><%=h logentry.logdate %></td>
    <td><%= link_to 'Edit', edit_logentry_path(logentry) %></td>
    <td><%= link_to 'Delete', logentry, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<p>
	<%= link_to 'Create Log Entry', new_plant_logentry_path(@plant) %> 
</p>
<h2>Tasks for <%= @plant.name %></h2>
<table>
  <tr>
    <th>Short Desc</th>
    <th>From</th>
    <th>To</th>
  </tr>
<% for task in @plant.tasks %>
  <tr>
    <td><%=h task.short_description %></td>
    <td><%=h task.from %></td>
    <td><%=h task.to %></td>
    <td><%= link_to 'Edit', edit_task_path(task) %></td>
    <td><%= link_to 'Delete', task, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<p>
	<%= link_to 'Create Task', new_plant_task_path(@plant) %> 
</p>

<%= link_to 'Back to plant list', plants_path %>
