<h1><%=h @plant.name %></h1>

<p>
  <b>Notes:</b>
  <%= simple_format(@plant.notes) %>
</p>

<%= link_to 'Edit', edit_plant_path(@plant) %> 
<%= link_to 'Delete', @plant, :confirm => 'Are you sure?', :method => :delete %>

</table>

<%= link_to 'Back to plant list', plants_path %>
