<h1>Listing gardens</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% for garden in @gardens %>
  <tr>
    <td><%=h garden.name %></td>
    <td><%= link_to 'Show', garden %></td>
    <td><%= link_to 'Edit', edit_garden_path(garden) %></td>
    <td><%= link_to 'Delete', garden, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New garden', new_garden_path %>
