<% content_for :gardenHead do %>
  <%= stylesheet_link_tag 'garden' %>
  <%= stylesheet_link_tag 'jquery-ui-1.8.12.custom' %>
  <%= javascript_include_tag 'modernizr-1.7.min' %>
  <%= javascript_include_tag 'jquery-1.5.2' %>
  <%= javascript_include_tag 'jquery-ui-1.8.12.custom.min' %>
  <%= javascript_include_tag 'raphael' %>
  <%= javascript_include_tag 'svgshow' %>
<% end %>
<p>
  <b>Name:</b>
  <%=h @garden.name %>
</p>
<p>
  <b>Notes:</b>
  <%= simple_format(@garden.notes) %>
</p>

<table>
  <tr>
    <th>Name</th>
    <th>Variety</th>
    <th>Notes</th>
  </tr>

<% for plant in @garden.plants %>
  <tr>
    <td><%= link_to plant.name, edit_plant_path(plant) %></td>
    <td><%= plant.variety %></td>
    <td><%= simple_format(plant.notes) %></td>
  </tr>
<% end %>
</table>

<div id="header"></div>
<table id="viewTable" border="1">
	<tr><th colspan="2">ViewWindow</th></tr>
	<tr><td></td><td>Garden</td></tr>
	<tr>
		<td>
			<div id="accordion">
				<h3><a href="#">Comments</a></h3>
				<div id="comments">
					<ul id="commentsList">
					</ul>
				</div>
			</div>
		</td>
		<td id="viewTableReviewWindowCell">
			<div id="viewWindow" ></div>
		</td>
	</tr>
	<tr><td colspan="2"><div id="debugspan"></div></td></tr>
	<tr><td colspan="2">footer</td></tr>
</table>

<%= link_to 'Edit', edit_garden_path(@garden) %> |
<%= link_to 'Back', gardens_path %>
