<% content_for :gardenHead do %>
  <%= stylesheet_link_tag 'garden' %>
  <%= stylesheet_link_tag 'jquery-ui-1.8.12.custom' %>
  <%= javascript_include_tag 'modernizr-1.7.min' %>
  <%= javascript_include_tag 'jquery-1.5.2' %>
  <%= javascript_include_tag 'jquery-ui-1.8.12.custom.min' %>
  <%= javascript_include_tag 'raphael' %>
  <%= javascript_include_tag 'svgshow' %>
<% end %>
<%= link_to 'Up to Garden List', gardens_path %>
<h1>Garden Details</h1>
<p>
  <b>Name:</b>
  <%=h @garden.name %>
</p>
<p>
  <b>Notes:</b>
  <%= simple_format(@garden.notes) %>
</p>
<br />
<h1>Plants</h1>
<%=@garden.plants.count %> plants added to this garden:
<% for plant in @garden.plants %>
<%= plant.name %>,
<% end %>
<br />
<%= link_to 'Manage Plants', garden_plants_path(@garden) %>
<br />
<h1>Layout</h1>
<%= link_to 'Edit layout', edit_garden_path(@garden) %>
<div id="header"></div>
<table id="viewTable" border="1">
	<tr><th colspan="2">ViewWindow</th></tr>
	<tr><td></td><td>Garden</td></tr>
	<tr>
		<td>
			<div id="accordion">
				<h3><a href="#">Comments</a></h3>
				<div id="comments">
					<ul id="commentsList">
					</ul>
				</div>
			</div>
		</td>
		<td id="viewTableReviewWindowCell">
			<div id="viewWindow" ></div>
		</td>
	</tr>
	<tr><td colspan="2"><div id="debugspan"></div></td></tr>
	<tr><td colspan="2">footer</td></tr>
</table>

<%= link_to 'Up to Garden List', gardens_path %>
