<h1>New logentry</h1>

<%= h @plant.name %>

<% form_for([@plant, @logentry]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :notes %><br />
    <%= f.text_field :notes %>
  </p>
  <p>	
    <%= f.label :logdate %><br />
    <%= f.date_select :logdate %>
  </p>
  <p>
    <% #= f.hidden_field :plant_id, :value => @plant.id %>
    <%= f.submit "Create" %>
  </p>
<% end %>

<% #= link_to 'Back', logentries_path %>
